---
layout: root.pug
---

{% include "components/main/header.html" %}

<div class="xl:grid xl:grid-cols-6">
  <div class="xl:col-start-3 xl:col-span-4">
    <div class="grid grid-cols-1 xl:grid-cols-[auto_1fr] xl:grid-flow-col">
      <div class="px-4 pt-5 pb-8 xl:px-6">
        <div class="xl:w-[65ch] w-full max-w-prose mx-auto xl:mx-0">
          <!-- prettier-ignore -->
          {# {{ page | debug | safe }} #} 
          {{ content | safe }}
        </div>
      </div>
      <!-- <div class="hidden xl:block">Settings</div> -->
    </div>
  </div>
</div>
