---
layout: root.pug
---

<!-- Left Side -->
<header class="border-b lg:border-r lg:fixed lg:w-2/6 lg:h-full lg:pt-8 bg-gray-50 lg:border-b-0">
  <div class="mx-auto max-w-prose">
    <nav class="p-4 text-sm lg:px-6">
      <ul class="flex flex-wrap">
        {% set navPages = collections.all | eleventyNavigation %}
        {% for item in navPages %}
          {% set selected = " text-white font-black bg-gray-900 rounded-sm" %}
          <li class="flex-shrink-0 {{ selected if item.url === page.url }}">
            <a class="block px-3 pt-6" href="{{ item.url }}">{{ item.key }}</a>
          </li>   
        {% endfor %}
    </nav>
    <div class="px-4 py-8 lg:px-6">
      {% if not tags -%} {%- elif 'post' in tags -%}
      <p class="pb-4 text-sm">— {{ page.date | toReadableDate }}</p>
      {%- endif -%}
      <h1 id="title" class="pb-6 text-5xl font-bold text-gray-800">
        {{ title or metadata.title }}
      </h1>
      <h2 id="description" class="text-xl italic text-gray-600">
        {{ description or metadata.description }}
      </h2>
    </div>
  </div>
</header>
<div class="lg:grid lg:grid-cols-6">
  <!-- Middle -->
  <div class="shadow-lg lg:col-start-3 lg:col-span-3">
    <div class="px-4 pt-5 pb-8 mx-auto lg:pt-16 max-w-prose">
      {#
      <div>{{ page | debug | safe }}</div>
      #}
      <div>{{ content | safe }}</div>
    </div>
  </div>

  <!-- Right Side -->
  
  <div class="lg:border-l lg:col-start-6 lg:col-span-1 bg-gray-50"></div>
 
</div>
