---
// import HeaderLink from './HeaderLink.astro';
import GithubIcon from './mdi_github.svg';
import LinkedIn from './mdi_linkedin.svg';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2 class="hidden">
		{SITE_TITLE}
	</h2>
	<nav class="max-w-screen-lg mx-auto px-4">
    <div class="flex justify-end gap-4 py-4">
      <a href="https://github.com/zulvkr" class="opacity-50 hover:opacity-100 transition-opacity">
        <img src={GithubIcon} alt="GitHub" />
      </a>
      <a href="https://www.linkedin.com/in/ivanzulfikar" class="opacity-50 hover:opacity-100 transition-opacity">
        <img src={LinkedIn} alt="LinkedIn" />
      </a>
    </div>
    <!--  -->
	</nav>
</header>

